<!-- @format -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Books</title>
  </head>
  <body>
    <header>
      <nav>
        <button class="Btn">
          <a href="/books/find">Books </a>
        </button>
        <button class="Btn">
          <a href="/books">Back</a>
        </button>
      </nav>
    </header>
    <main>
      <div class="bookBox">
        <h1 class="title"><%= books.title %></h1>
        <h2 class="author"><%= books.author %></h2>

        <p class="desP">
          <span class="descriptions">descriptions:</span>
          <%= books.descriptions %>
        </p>
        <h2 class="priceH2">
          <samp class="price"> price:</samp> $<%= books.price %>
        </h2>
        <button class="Btn">
          <a href="">edit</a>
        </button>
        <button class="Btn btnD">
          <a class="delete" href="/books/<%= book.id %>/delete"> delete </a>
        </button>
      </div>
    </main>
  </body>
</html>
